@font-face {
    font-family: 'Typewriter';
    src: url('../fonts/typrewriter.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100svh;
    font-family: gotham, sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, #FFA661 0%, #FFEE59 66%, #FFA661 100%);
    /* user-select: none; */
    overflow: hidden;
}







.reward-part {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.ticket {
    height: 40vw;
    width: 75vw;
    border-radius: 5vw;
    background-color: #FEF4EB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2vw 3vw #0300a521;
}

.notificaton {
    display: flex;
    justify-content: space-between;
    padding: 2vw 4vw;
    padding-bottom: 0;
}

.ship-no {
    margin-top: 1vw;
    font-size: 5vw;
    font-weight: bold;
    color: #EAB59E;
}

.camera-icon {
    width: 8vw;
}

.center-box {
    margin: 1vw;
    margin-left: 4vw;
    margin-right: 4vw;
    height: 36vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    background-color: #ffe2d6;
    border-radius: 3vw;
    font-family: 'Typewriter';
    color: #AD1111;
}


.island-text {
    font-size: 7vw;
    display: flex;
    flex-direction: column;
    width: 38vw;
    text-align: right;
    padding-right: 2vw;

}

.treasure-text {
    font-size: 19vw;
    flex-direction: column;
    width: 25vw;
    text-align: left;
    padding-left: 2vw;
}

.bottom-code {
    font-size: 2.3vw;
    text-align: center;
    padding-bottom: 1.4vw;
    letter-spacing: 1.6vw;
    color: #836156;
}














.connect-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbox {
    position: absolute;
    width: 70vw;
    height: 22vh;
    background-color: #f5f5f565;
    border: 0.6vw solid #ffffff;
    border-radius: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 26vw;
    margin-right: 8vw;
    bottom: 10vh;
}

.message {
    width: 100%;
    font-size: 4vw;
    padding: 3vh 5.5vw;
    font-weight: bold;
    line-height: 3vh;
    color: #88442E;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.character-image {
    height: auto;
    width: 36vw;
    position: absolute;
    left: 0;
    top: 60vh;
    /* bottom: -20vw; */
    animation: float 3s ease-in-out infinite;
}

.navigator {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2vh;
    width: 68vw;
    height: 6vh;
    background-color: transparent;
    right: 5vw;
}

.forward-button {
    width: 20vw;
    height: 11.5vw;
    background-image: linear-gradient(0deg, #00CB39 43%, #00E268 57%);
    border: 0.8vw solid #ffffff;
    border-radius: 3.5vw;
    display: box;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0px 0.2vw 1.2vw #190a5a6b;
    position: absolute;
    right: -1vw;
}

.forward-arrow-image {
    height: 10vw;
    width: auto;
}

.backward-button {
    width: 20vw;
    height: 11.5vw;
    display: none;
    background-color: transparent;
    border-color: transparent;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -30vw;
}

.backward-arrow-image {
    height: 10vw;
    filter:opacity(70%);
    transform: scaleX(-1);
}

.ship-mark {
    font-size: 8vw;
    font-weight: bold;
    right: 22vw;
    position: absolute;
    color: #FFDAA2;
}








.clue-part {
    height: 100svh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
    position: absolute;
}

.clue-image {
    position: absolute;
    width: 95vw;
    height: auto;
    margin-bottom: 6vh;
    z-index: 5;
    color: #774417;
    font-size: 6vw;
    font-weight: bold;
}

.base-mark {
    font-size: 6vw;
    font-weight: bold;
    color: #e29653;
    position: absolute;
    bottom: 4vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}








button:active {
    transform: translateY(0.2vh);
    transition: transform 0.1s ease-out;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1vh);
    }
    100% {
        transform: translateY(0);
    }
}

